<a href="https://colab.research.google.com/github/vinodkumar1947/arm7/blob/master/DataTypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**# Python Data types**

Numaric

> integer

> Float

> complex

boolean

set

dictionary

Sequence type

> Strings

> List

> Tuple

**Numaric Data types**

In [3]:
# integers
a = 10
b = 20
c = 30

print("a = %d address=%d type=%s" %(a,id(a),type(a)))
print("b = %d address=%d type=%s" %(b,id(b),type(b)))
print("c = %d address=%d type=%s" %(c,id(c),type(c)))

#pooling

a = 10 address=10914784 type=<class 'int'>
b = 20 address=10915104 type=<class 'int'>
c = 30 address=10915424 type=<class 'int'>

# Integer pooling
To fasten allocation and de-allocation of memory to ingeters, python uses dedicated memory pool for integers between -5 to +256.

In [13]:
#when integer values are different the corresponding addresses also different
a = 10
b = 20
c = 30

print("a = %d address=%d type=%s" %(a,id(a),type(a)))
print("b = %d address=%d type=%s" %(b,id(b),type(b)))
print("c = %d address=%d type=%s \n" %(c,id(c),type(c)))

#when integer values are same (in -5 to _256) the corresponding addresses are same
b = 10
c = 10
print("int pooling - a = %d address=%d type=%s" %(a,id(a),type(a)))
print("int pooling - b = %d address=%d type=%s" %(b,id(b),type(b)))
print("int pooling - c = %d address=%d type=%s \n" %(c,id(c),type(c)))

#when integer values are same (not in -5 to _256) the corresponding addresses are different
a = 10000
b = 10000
c = 10000
print("out of int pooling - a = %d address=%d type=%s" %(a,id(a),type(a)))
print("out of int pooling - b = %d address=%d type=%s" %(b,id(b),type(b)))
print("out of int pooling - c = %d address=%d type=%s" %(c,id(c),type(c)))

a = 10 address=10914784 type=<class 'int'>
b = 20 address=10915104 type=<class 'int'>
c = 30 address=10915424 type=<class 'int'>

int pooling - a = 10 address=10914784 type=<class 'int'>
int pooling - b = 10 address=10914784 type=<class 'int'>
int pooling - c = 10 address=10914784 type=<class 'int'>

out of int pooling - a = 10000 address=140005471689328 type=<class 'int'>
out of int pooling - b = 10000 address=140005471690544 type=<class 'int'>
out of int pooling - c = 10000 address=140005471690576 type=<class 'int'>

# input from console

In [7]:
#input function return value is a string
a = input("enter the value of a")
print("a= {} address= {} type= {}".format(a,id(a),type(a)))

#convert to int
a = int(input("enter the value of a"))
print("a= {} address= {} type= {}".format(a,id(a),type(a)))

enter the value of a10
a= 10 address= 140005461640392 type= <class 'str'>
enter the value of a10
a= 10 address= 10914784 type= <class 'int'>